In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/Kaunas/visit.kaunas.lt/master/Nurinkta%20%C4%AF%20CSV/to-see.csv"
csv = pd.read_csv(url)  #using panda to retrieve information from url in csv format
csv

,ID,Source,Title,Address,Phone,Email,Website,Working Hours,Date,Price,Category
0,1,http://visit.kaunas.lt/en/to-see/interwar-arch...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INTERWAR ARCHITECTURE
1,2,http://visit.kaunas.lt/en/to-see/interwar-arch...,žaliakalnis funicular,"Aušros g. 6, Kaunas",NaN,NaN,NaN,NaN,NaN,NaN,INTERWAR ARCHITECTURE
2,3,http://visit.kaunas.lt/en/to-see/hansa-kaunas/...,Perkūnas House: Visiting medieval merchant’s h...,"Aleksoto g. 6, Kaunas",+370 641 44 614,info@perkunonamas.lt,www.perkunonamas.lt,NaN,NaN,NaN,EDUCATION PROGRAMS
3,4,http://visit.kaunas.lt/en/to-see/museums-and-g...,Atomic bunker,"Raudondvario pl. 164A, Kaunas",+370 682 66666,info@atominisbunkeris.lt,www.atominisbunkeris.lt,Museum visited by arrangement,Museum visited by arrangement,NaN,MUSEUM
4,5,http://visit.kaunas.lt/en/to-see/interwar-arch...,Officers’ Palace,"A. Mickevičiaus g. 19, Kaunas",NaN,NaN,NaN,NaN,NaN,NaN,INTERWAR ARCHITECTURE
...,...,...,...,...,...,...,...,...,...,...,...
177,178,http://visit.kaunas.lt/en/to-do/tours/tours-in...,Along the Kings road,"Laisvės al. 36, Kaunas",+370 37 323 436,info@kaunastic.lt,NaN,NaN,NaN,NaN,TOURS IN LITHUANIA
178,179,http://visit.kaunas.lt/en/to-do/tours/tours-in...,The oldest capitals of Lithuania,"Laisvės al. 36, Kaunas",+370 37 323 436,info@kaunastic.lt,NaN,NaN,NaN,NaN,TOURS IN LITHUANIA
179,180,http://visit.kaunas.lt/en/to-do/tours/tours-in...,Culture heritage in Anykščiai,"Laisvės al. 36, Kaunas",+370 37 323 436,info@kaunastic.lt,NaN,NaN,NaN,NaN,TOURS IN LITHUANIA
180,181,http://visit.kaunas.lt/en/to-do/tours/tours-in...,Radvilos and bisons,"Laisvės al. 36, Kaunas",+370 37 323 436,info@kaunastic.lt,NaN,NaN,NaN,NaN,TOURS IN LITHUANIA
181,182,http://visit.kaunas.lt/en/to-do/tours/tours-in...,A salty lesson in Druskininkai,"Laisvės al. 36, Kaunas",+370 37 323 436,info@kaunastic.lt,NaN,NaN,NaN,NaN,TOURS IN LITHUANIA

In [3]:
csv.info()  #show overall statistics of csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             182 non-null    int64
 1   Source         182 non-null    object
 2   Title          172 non-null    object
 3   Address        167 non-null    object
 4   Phone          91 non-null     object
 5   Email          74 non-null     object
 6   Website        63 non-null     object
 7   Working Hours  56 non-null     object
 8   Date           56 non-null     object
 9   Price          40 non-null     object
 10  Category       182 non-null    object
dtypes: int64(1), object(10)
memory usage: 15.8+ KB

In [4]:
# retrieve in a list all different categories
csv_category = csv.drop_duplicates(subset = "Category")
csv_category["Category"].tolist()

['INTERWAR ARCHITECTURE',
 'EDUCATION PROGRAMS',
 'MUSEUM',
 'TOURS',
 'ROUTES',
 'GALLERY',
 'WOOD BASED ARCHITECTURE',
 'TOURS IN KAUNAS',
 'TOP',
 'PUBLICATIONS',
 'SHRINES',
 'NATURE',
 'TOURS IN LITHUANIA']

In [5]:
# Display how many rows are in each category
amount = pd.DataFrame(csv, columns = ['Category'])
amount.pivot_table(index = ["Category"], aggfunc = 'size').sort_values(ascending = False)

Category
INTERWAR ARCHITECTURE      47
MUSEUM                     29
TOP                        16
SHRINES                    15
NATURE                     14
WOOD BASED ARCHITECTURE    13
GALLERY                    13
TOURS IN KAUNAS            12
PUBLICATIONS                9
TOURS IN LITHUANIA          5
ROUTES                      5
TOURS                       3
EDUCATION PROGRAMS          1
dtype: int64

In [6]:
# Display all rows in a specific category
x = "PUBLICATIONS"
csv.loc[csv['Category'] == x]

,ID,Source,Title,Address,Phone,Email,Website,Working Hours,Date,Price,Category
24,25,http://visit.kaunas.lt/en/information/publicat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PUBLICATIONS
26,27,http://visit.kaunas.lt/en/information/publicat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PUBLICATIONS
35,36,http://visit.kaunas.lt/en/information/publicat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PUBLICATIONS
56,57,http://visit.kaunas.lt/en/information/publicat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PUBLICATIONS
61,62,http://visit.kaunas.lt/en/information/publicat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PUBLICATIONS
75,76,http://visit.kaunas.lt/en/information/publicat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PUBLICATIONS
90,91,http://visit.kaunas.lt/en/information/publicat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PUBLICATIONS
95,96,http://visit.kaunas.lt/en/information/publicat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PUBLICATIONS
97,98,http://visit.kaunas.lt/en/information/publicat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PUBLICATIONS